---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout title="CTH - Mesas Sillas Vajilla ">
	<main>
        <Header/>

        <section class="relative bg-[url('/src/components/Hero.svg')] bg-cover bg-center bg-no-repeat w-full mt-20 h-[40vh]  justify-center flex items-center ">
            <h1 class="text-white text-4xl md:text-6xl font-semibold">Mesas Sillas y Vajilla</h1>
        </section>

        <section class="justify-center items-center mx-5 mt-6 ">
            <div class="text-center space-y-4 ">
                <h3 class="text-white font-semibold text-2xl md:text-3xl">Servicio completo.</h3>
                <p class="font-normal text-xl md:text-2xl ">En CTH te ofrecemos un servicio completo: mesas de distintos tamaños y formas para adaptar los espacios como más desees; sillas de diversos estilos y calidades; cristalería y mantelería para complementar perfectamente tus comidas.</p>   
            </div>
    


            <div class="text-center text-xl md:text-3xl mt-16">
                <ul class="space-y-7">
                    <li>
                        <p class="font-normal" >Mesas redondas - 12, 8 o 6 personas</p>
                        <img src="/src/components/carpaBento.webp" class="w-5/6 md:w-2/6 m-auto rounded-sm" />
                    </li>
                    <li class="mt-44">
                        <p class="font-normal" >Rectangulares - 10 personas</p>
                        <img src="/src/components/carpaBento.webp" class="w-5/6 md:w-2/6 m-auto rounded-sm" />
                    </li>
                    <li>
                        <p class="font-normal" >Tipo bar - </p>
                        <img src="/src/components/carpaBento.webp" class="w-5/6 md:w-2/6 m-auto rounded-sm" />
                    </li>
                    <li>
                        <p class="font-normal" >Sillas - Caño tapizadas, plegables de madera blanca </p>
                        <img src="/src/components/carpaBento.webp" class="w-5/6 md:w-2/6 m-auto rounded-sm" />
                    </li>
                    <li>
                        <p class="font-normal" >Vajilla - Platos, Cubiertos, Cristaleria y manteleria</p>
                        <img src="/src/components/carpaBento.webp" class="w-5/6 md:w-2/6 m-auto rounded-sm" />
                    </li>

                </ul>

            </div>








        </section>  

        <Footer/>



    </main>