---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
---

<Layout title="CTH - Servicios">
	<main>
		<Header />

        <section class="relative bg-[url('/src/components/Hero.svg')] bg-cover bg-center bg-no-repeat w-full mt-20 h-[40vh]  justify-center flex items-center ">
            <h1 class="text-white text-4xl md:text-6xl font-semibold">Catálogo</h1>
        
        </section>

        <section class="flex justify-center items-center">



        <ul class=" p-4 rounded">
            <li>
                <a class='hover:underline hover:text-red-700 text-white' href="/carpas">Carpas</a>
            </li>
        </ul>
    </section>
		
	</main>
</Layout>