---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
---

<Layout title="CTH - Nosotros">
	<main>
		<Header />

		<section class="relative bg-[url('/src/components/Hero.svg')] bg-cover bg-center bg-no-repeat w-full mt-20 h-[40vh]  justify-center flex items-center ">
			<h1 class="text-white
				text-4xl md:text-6xl font-semibold">Nosotros</h1>
		</section>

		<section class="justify-center items-center mx-5 mt-6">
			<div class="text-center space-y-4 ">
	
				<p class="font-normal text-xl md:text-2xl ">Fabricamos y comercializamos productos de alta calidad brindando soluciones integrales de espacio a través de la venta o alquiler de carpas estructurales de lona para eventos especiales o instalaciones permanentes, escenarios y gradas.

					Complementamos nuestro servicio de alquiler y venta con accesorios tales como cielorrasos, pisos, iluminación, mobiliario, vajilla, climatización y túneles de conexión.
					
					Nuestros productos están orientados a satisfacer las necesidades de los clientes, contamos con medidas de carpas y escenarios, que se adaptan a cualquier espacio y tipo de evento. Solicite nuestro asesoramiento sin compromiso.
					
					</p>
			</div>

			<div class="text-center text-xl md:text-3xl mt-16">
				<ul class="space-y-7">
					<li>
						<p class="font-normal" >Nuestros valores</p>
						<p class="font-normal" >- Calidad</p>
						<p class="font-normal" >- Compromiso</p>
						<p class="font-normal" >- Puntualidad</p>
						<p class="font-normal" >- Innovación</p>
					</li>
				</ul>

			</div>		
		</section>




		
	</main>
</Layout>