---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
---

<Layout title="CTH - Nosotros">
	<main>
		<Header />
        <p>Esto es nosotros</p>


		
	</main>
</Layout>