---
import BentoItem from "@/components/BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[26rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
  <BentoItem class="col-span-10 lg:col-span-6" title="Carpas">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
      h-full group-hover:scale-110 transition-scale duration-1000
      ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover
      bg-no-repeat bg-[url('/src/components/carpaBento.webp')]"
    >
    </div>
    <p slot="content" class="max-w-xl text-white"> 
      Hacé que tu evento sea único con nuestras carpas. 
      Para bodas, cumpleaños o cualquier evento, te ofrecemos el alquiler ideal: carpas que combinan estilo, comodidad y resguardo. 
      Crea un ambiente especial bajo una estructura pensada para que tu evento sea inolvidable. 
    </p>
  </BentoItem>

<BentoItem class="col-span-10 md:col-span-4" title="Vallado">
  <div slot="image" class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale 
    duration-1000 ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover 
    bg-no-repeat bg-[url('/src/components/valladoBento.webp')]">
  </div>
    <p slot="content" class="max-w-xl text-white"> 
      Delimitá tus espacios con nuestro vallado de primera. 
      Ideal para organizar áreas y crear ambientes definidos. 
      Práctico y elegante, hace que tu evento sea ordenado y profesional.
    </p>
</BentoItem>
<BentoItem class="col-span-10 md:col-span-4" title="Gazebo">
  <div slot="image" class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale 
    duration-1000 ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover 
    bg-no-repeat bg-[url('/src/components/gazeboBento.webp')]">
  </div>
    <p slot="content" class="max-w-xl text-white"> 
      Transformá tu evento con nuestros gazebos. 
      Elegancia y protección en cada rincón. 
      Ideal para cualquier ocasión, hacé que tu celebración sea única y memorable.
    </p>
</BentoItem>
<BentoItem class="col-span-10 md:col-span-6" title="Escenarios">
  <div slot="image" class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale 
  duration-1000 ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover 
  bg-no-repeat bg-[url('/src/components/escenarioBento.webp')]">
</div>
    <p slot="content" class="max-w-xl text-white"> 
      Hacelo grande con nuestros escenarios. 
      Para conciertos, eventos corporativos o fiestas, te ofrecemos el alquiler de escenarios que elevan tu evento a otro nivel. 
      Diseño robusto, calidad inigualable y un impacto visual que dejará a todos con la boca abierta. 
      ¡Dale a tu evento el escenario que se merece!
    </p>
</BentoItem>

