<footer class="bg-black/40">
    <div class="mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 flex flex-col md:mb-0">
                <a href="index.astro" class="mt-10 flex items-center justify-center">
                    <img src="/src/components/cth-logo-02.png" class="h-auto w-24"/>
                </a>
                <div class="mt-6 flex justify-center gap-x-4">
                    <a href="https://www.instagram.com/cthcarpasyescenarios/" class="text-white hover:text-red duration-300">
                        <svg
                        class="size-6"
                        xmlns="http://www.w3.org/2000/svg"
                        width="256"
                        height="256"
                        preserveAspectRatio="xMidYMid"
                        viewBox="0 0 256 256"
                        ><path
                          fill="currentColor"
                          d="M128 23.064c34.177 0 38.225.13 51.722.745 12.48.57 19.258 2.655 23.769 4.408 5.974 2.322 10.238 5.096 14.717 9.575 4.48 4.479 7.253 8.743 9.575 14.717 1.753 4.511 3.838 11.289 4.408 23.768.615 13.498.745 17.546.745 51.723 0 34.178-.13 38.226-.745 51.723-.57 12.48-2.655 19.257-4.408 23.768-2.322 5.974-5.096 10.239-9.575 14.718-4.479 4.479-8.743 7.253-14.717 9.574-4.511 1.753-11.289 3.839-23.769 4.408-13.495.616-17.543.746-51.722.746-34.18 0-38.228-.13-51.723-.746-12.48-.57-19.257-2.655-23.768-4.408-5.974-2.321-10.239-5.095-14.718-9.574-4.479-4.48-7.253-8.744-9.574-14.718-1.753-4.51-3.839-11.288-4.408-23.768-.616-13.497-.746-17.545-.746-51.723 0-34.177.13-38.225.746-51.722.57-12.48 2.655-19.258 4.408-23.769 2.321-5.974 5.095-10.238 9.574-14.717 4.48-4.48 8.744-7.253 14.718-9.575 4.51-1.753 11.288-3.838 23.768-4.408 13.497-.615 17.545-.745 51.723-.745M128 0C93.237 0 88.878.147 75.226.77c-13.625.622-22.93 2.786-31.071 5.95-8.418 3.271-15.556 7.648-22.672 14.764C14.367 28.6 9.991 35.738 6.72 44.155 3.555 52.297 1.392 61.602.77 75.226.147 88.878 0 93.237 0 128c0 34.763.147 39.122.77 52.774.622 13.625 2.785 22.93 5.95 31.071 3.27 8.417 7.647 15.556 14.763 22.672 7.116 7.116 14.254 11.492 22.672 14.763 8.142 3.165 17.446 5.328 31.07 5.95 13.653.623 18.012.77 52.775.77s39.122-.147 52.774-.77c13.624-.622 22.929-2.785 31.07-5.95 8.418-3.27 15.556-7.647 22.672-14.763 7.116-7.116 11.493-14.254 14.764-22.672 3.164-8.142 5.328-17.446 5.95-31.07.623-13.653.77-18.012.77-52.775s-.147-39.122-.77-52.774c-.622-13.624-2.786-22.929-5.95-31.07-3.271-8.418-7.648-15.556-14.764-22.672C227.4 14.368 220.262 9.99 211.845 6.72c-8.142-3.164-17.447-5.328-31.071-5.95C167.122.147 162.763 0 128 0Zm0 62.27C91.698 62.27 62.27 91.7 62.27 128c0 36.302 29.428 65.73 65.73 65.73 36.301 0 65.73-29.428 65.73-65.73 0-36.301-29.429-65.73-65.73-65.73Zm0 108.397c-23.564 0-42.667-19.103-42.667-42.667S104.436 85.333 128 85.333s42.667 19.103 42.667 42.667-19.103 42.667-42.667 42.667Zm83.686-110.994c0 8.484-6.876 15.36-15.36 15.36-8.483 0-15.36-6.876-15.36-15.36 0-8.483 6.877-15.36 15.36-15.36 8.484 0 15.36 6.877 15.36 15.36Z"
                        ></path></svg
                      >
                      <span class="sr-only">Instagram</span>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=1081058210&ref=xav_ig_profile_web" class="text-white hover:text-primary duration-300">
                        <svg 
                          class="size-6"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" 
                          viewBox="0 0 44 44"                          
                          fill="currentColor"
                            ><path 
                              fill-rule="evenodd"
                              d="M22 0C9.86156 0 0 9.86156 0 22C0 33.0191 8.12753 42.1384 18.7129 43.7285L19.8613 43.9023V26.5664H14.6641V23.0469H19.8613V18.373C19.8613 15.495 20.552 13.5994 21.6953 12.4102C22.8387 11.2209 24.528 10.6211 26.8789 10.6211C28.7587 10.6211 29.49 10.735 30.1855 10.8203V13.7012H27.7383C26.3497 13.7012 25.2104 14.4759 24.6191 15.5078C24.0278 16.5397 23.8438 17.7718 23.8438 19.0273V23.0449H29.9668L29.4219 26.5645H23.8438V43.9297L24.9785 43.7754C35.7143 42.3194 44 33.1268 44 22C44 9.86156 34.1384 0 22 0ZM22 2C33.0576 2 42 10.9424 42 22C42 31.7298 35.0358 39.7318 25.8438 41.5332V28.5645H31.1367L32.2988 21.0449H25.8438V19.0273C25.8438 17.9899 26.0336 17.0603 26.3535 16.502C26.6735 15.9436 26.9819 15.7012 27.7383 15.7012H32.1855V9.00977L31.3184 8.89258C30.7186 8.81142 29.3492 8.62109 26.8789 8.62109C24.1758 8.62109 21.8556 9.35745 20.2539 11.0234C18.6522 12.6894 17.8613 15.1701 17.8613 18.373V21.0469H12.6641V28.5664H17.8613V41.4707C8.81699 39.5548 2 31.6244 2 22C2 10.9424 10.9424 2 22 2Z"                              clip-rule="evenodd"></path>
                          </svg>
                        
                        
                     
                        <span class="sr-only">Twitter</span>
                      </a>
                </div>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">mapa web</h2>
                <ul class="flex flex-col gap-2 font-medium text-gray-400">
                    <li>
                        <a href="index.astro" class="hover:underline hover:text-red duration-300">Inicio</a>
                    </li>
                    <li>
                        <a href="contacto.astro" class="hover:underline hover:text-red duration-300">Contacto</a>
                    </li>
                    <li>
                        <a href="catalogo.astro" class="hover:underline hover:text-red duration-300">Servicios</a>
                    </li>
                    <li>
                        <a href="nosotros.astro" class="hover:underline hover:text-red duration-300">Nosotros</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-6 border-white/10 sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-400 sm:text-center"
            >&copy; SOLUCIONES INTEGRALES PARA EVENTOS 2024 Todos los derechos reservados.</span>
    </div>
</footer>