---
import HeaderLink from "./HeaderLink.astro"

import MenuIcon from "./icons/Menu.astro"
import CloseIcon from "./icons/Close.astro"

---





<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
    <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
      <HeaderLink
        checkActive={false}
        href={('/')}
        class="relative z-10"
      >
        <img src="/src/components/cth-logo-02.png" class="absolute w-24 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-50" />      
        <img src="/src/components/cth-logo-02.png" class=" w-24" />      
    </HeaderLink>
      <nav
        id="header-menu"
        class="fixed w-full h-dvh inset-0 bg-[black]/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
      >
        <HeaderLink class="text-xl text__glowing text-white" href={('/catalogo')}>
          {('Servicios')}
        </HeaderLink>
        <HeaderLink class="text-xl text__glowing text-white" href={('/nosotros')}>
          {('Nosotros')}
        </HeaderLink>
        <HeaderLink class=" md:right-0 text-white font-semibold text-xl border rounded-full border-black bg-red-700 px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300 md:inline-block" href={('/contacto')}>
          {('Contacto')}
        </HeaderLink>
        
        
        <a href="#header-nav" class="md:hidden absolute top-6 right-6">
          <CloseIcon />
        </a>


      </nav>
      <a href="#header-menu" class="md:hidden"><MenuIcon /></a>
    </div>
  </header>