<section class="relative bg-[url('/src/components/Hero.svg')] bg-cover bg-center bg-no-repeat w-full  h-[50vh] md:h-[75vh] justify-center flex items-center ">
    <div class="flex flex-col items-center space-y-2 md:space-y-16">
        <img src="/src/components/cth-logo-02.png" class="max-w-xs md:max-w-sm lg:max-w-md"/>
        <p class="font-semibold px-7 max-w-6xl md:px-52 text-xl md:text-3xl text-white text-center mt-0 ">Más de 35 años en el mercado, nos hacen especialistas en el rubro, brindándole un servicio a la medida de sus necesidades.</p>
    </div>
</section>