<section class="w-full p-7 md:p-10 sm:p-7 lg:p-20 max-w-full sm:max-w-[1400px] mx-auto text-lg sm:text-lg lg:text-base">
    <h3 
    class="uppercase text-center font-semibold mx-auto mb-10 text-balance text-2xl md:text-4xl tracking-wide text-white">
        Expo Esteban Echeverria - 2024
    </h3>
    <lite-youtube 
    class="shadow-2xl shadow-white/10 rounded-xl" 
    videoid="4l8Ql1CVmeE"></lite-youtube>

</section>

<script>
    import "@justinribeiro/lite-youtube"
</script>